* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}


#text {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.active {
  border: 1px solid rgb(245, 241, 18);
  background-color: rgb(43, 42, 4) !important; 
}
.claro {
    background-color: #E0E2DB;
}  

.oscuro {
    background-color: #161615;
}  

.oscuro2 {
  background-color: #393939;
} 

img {
  max-width:15%;
  height:auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

  /* Old Mauve: #5D2E46 */
  /* BLANCO: Platinum: #E0E2DB */
  /* NEGRO: Oxford blue: #131F31 */

  .topnav {
    overflow: hidden;
    width: 100%;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: rgb(165, 180, 76);
    text-align: center;
    width: 150px;
    padding: 14px 16px;
    margin-top: 6px;
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
    font-size: 17px;
    background-color: rgb(32, 32, 32);
  }
  
  .topnav form{
    float: right;
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    border: none;
    font-size: 19px;
  }
 
  .nav{
    display: flex;
    justify-content: center;
}

.list {
  width: 15%;
  height: auto;
  color: white;
  font-family: 'Montserrat', 'sans-serif';
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  cursor: pointer;
}

.button{
  position:relative;
  display:inline-block;
  margin:5px;
}

.button a{
  color:rgb(211, 208, 38);
  font-family:Helvetica, sans-serif;
  font-weight:bold;
  font-size:15px;
  text-align: center;
  text-decoration:none;
  background-color:rgb(20, 20, 19);
  display:block;
  position:relative;
  padding:10px 10px;
  
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-shadow: 0px 1px 0px #000;
  filter: dropshadow(color=#000, offx=0px, offy=1px);
  
  -webkit-box-shadow:inset 0 1px 0 rgb(0, 0, 0), 0 5px 0 #d8cc27;
  -moz-box-shadow:inset 0 1px 0 rgb(0, 0, 0), 0 5px 0 #d8cc27;
  box-shadow:inset 0 1px 0 rgb(0, 0, 0), 0 5px 0 #d8cc27;
  
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.button a:active{
  top:5px;
  background-color:rgb(0, 0, 0);
  
  -webkit-box-shadow:inset 0 1px 0 rgb(0, 0, 0), inset 0 -2px 0 #d8cc27;
  -moz-box-shadow:inset 0 1px 0 rgb(0, 0, 0), inset 0 -2px 0 #d8cc27;
  box-shadow:inset 0 1px 0 rgb(0, 0, 0), inset 0 -2px 0 #d8cc27;
}

.button a:hover{
  background-color:rgb(0, 0, 0);
}

@media screen and (min-width: 768px){
  .list:hover, .list:hover div{
      background-color: rgb(41, 40, 40);
  }
}

.burger{
  display: none;
  cursor: pointer;
}

.burger div{
  width: 35px;
  height: 4px;
  background-color: var(--primary-color);
  margin: 5px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  transition: all 0.3s ease;
}

/*RESPONSIVE NAVBAR*/
@media screen and (max-width:768px){
  body{
      overflow-x: hidden;
  }
  .list {
      background-color: rgb(202, 12, 12);
  }
  .nav{
      position: absolute;
      right: 0px;
      height: 100vh;
      top: 28vh;
      background-color: rgb(202, 50, 202);
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 23%;
      transform: translate(100%);
      transition: transform 0.5s ease-in;
  }
  .list div{
      background-color: rgb(32, 186, 233);
      margin-top: 5vh;
  }

  .burger{
      display: block;
      margin-left: auto;
  }
  
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade{
  from{
      opacity: 0;
      transform: translateX(50px);
  }
  to{
      opacity: 1;
      transform: translateX(0px);
  }
}

.toggle .line1{
  transform: rotate(-45deg) translate(-7px, 6px);
}
.toggle .line2{
  opacity: 0;
}
.toggle .line3{
  transform: rotate(45deg) translate(-7px, -6px);
}


/* NAVBAR LOGO IMAGE AND TEXT*/

/*MAIN FEED SECTION*/
main {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.feed{
  width: 90%;
  height: auto;
  display: flex;
  flex-direction: row;
}

.left-pane{
  width: 65%;
  height: 98%;
  margin: 0.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 768px) {
  .left-pane{
      width: 100%;
  }
  .fa-3x {
      font-size: 2em !important;
  }
}
/*FEED SUMMARY STORIES*/
.story {
  color: #d8cc27;
  width: 100%;
  height: 20vh;
  margin: 1%;
  display: flex;
  transition: 0.5s ease;
  flex-direction: row;
  justify-content: space-around;
  overflow: hidden;
  background-color: rgb(37, 37, 37);
  padding-left: 0.4vw;
  border-radius: 10px;
}

.btn {
  background-color: rgb(15, 15, 15);
  border: none;
  color: #d8cc27;
}

.btn:hover {
  background-color: rgb(0, 0, 0);
  border: none;
  color: #d8cc27;
  box-shadow: 0 0 11px rgba(235, 231, 31, 0.527); 
}
.story:hover {
  width: 100%;
  height: 30vh;
}

.post-img{
  flex-grow: 1;
  width: 8vw;
  background-color: inherit;   
  margin-top: 2vh; 
}

i{
  background-color: inherit;
}



.info {
  flex-grow: 2;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  background-color: inherit;
}

.summary {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1%;
  border: 0px solid;
  width: 100%;
  overflow: hidden;
  border-radius: 5px;
  background-color: inherit;
}

.title {
  margin: 2%;
  background-color: inherit;
}

.sum {
  margin: 2%;
  background-color: inherit;
}


/*PROFILE SECTION RIGHT PANE*/
.right-pane {
  border: 1px solid yellowgreen;
  width: 32%;
  height: 98%;
  margin: 0.5%;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 768px) {
  .right-pane {
      display: none;
  }
}

.profile-sum {
  width: 100%;
  height: 30vh;
  border:1px solid red;
  margin: 3%;
}

/* FOOTER */

footer {
  margin-top: 30px;;
  padding: 18px 0px 15px 0;
  border-top: 4px solid rgba(238, 234, 18, 0.788);
  width: 100%;
  background-color: rgb(41, 40, 14);
  z-index : 1;
  display: flex;
  align-items: center;
  text-align: left;
}

.copyright {
  width: 150%;
  color: rgb(238, 234, 18);
  padding: 0 16px 0 16px;
  text-align: left;
}

.overlayContainer {
  position: relative;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
  overflow: hidden;


  opacity: 0;
  transform: opacity;
  transition: .3s ease;
}

.foot-link {
  width: 100%;
  align-items: center;
}

.foot-links-container {
  text-align: right;
  align-items: center;
  display: flex;
  width: 100%;
}

.nosotros {
  background-color: rgb(39, 33, 33);
  border:1px solid #f0a0a0;
  color: #f0a0a0;
  margin: 10px 0 20px 0;
  padding-top: 10px;
  padding-bottom: 30px;
  padding-left: 45px;
  padding-right: 45px;
  border-radius: 10px;
  width: 100%;
}

.nosotros:hover {
  box-shadow: 0 0 11px rgba(231, 56, 56, 0.527); 
}

.noticiasLatest {
  background-color: rgb(34, 28, 39);
  border:1px solid #d6a3ee;
  color: #d6a3ee;
  margin: 10px 0 20px 0;
  padding-top: 10px;
  padding-bottom: 30px;
  padding-left: 45px;
  padding-right: 45px;
  border-radius: 10px;
  width: 100%;
}

.noticiasLatest:hover {
  box-shadow: 0 0 11px rgba(177, 26, 214, 0.589); 
}

.marketLatest {
  background-color: rgb(46, 45, 36);
  border:1px solid #f8f7af;
  color: #f8f7af;
  margin: 10px 0 20px 0;
  padding-top: 10px;
  padding-bottom: 30px;
  padding-left: 45px;
  padding-right: 45px;
  border-radius: 10px;
  width: 100%;
}

.marketLatest:hover {
  box-shadow: 0 0 11px rgba(241, 208, 15, 0.562); 
}

.reviewsLatest {
  background-color: rgb(30, 41, 43);
  border:1px solid #a9eaec;
  color: #a9eaec;
  margin: 10px 0 20px 0;
  padding-top: 10px;
  padding-bottom: 30px;
  padding-left: 45px;
  padding-right: 45px;
  border-radius: 10px;
  width: 100%;
}

.reviewsLatest:hover {
  box-shadow: 0 0 11px rgba(42, 225, 231, 0.527); 
}

.fade
{
        opacity:0.5;
}
.fade:hover
{
        opacity:1;
}