@import url('https://fonts.googleapis.com/css?family=Press+Start+2P|Montserrat&display=swap');

:root {
    --primary-color: rgb(172, 199, 24);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(207, 205, 205);
    font-family: 'Montserrat';
}

/*HEADER IMAGE*/
.logo-img {
    width: 100%;
    height: 20vh;
    overflow: hidden;
}

.logo-img img{
    width: 100%;
    height: 100%;
} 

/*NAVBAR*/
.navbar {
    width: 100%;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav{
    background-color: black;
    width: 90%;
    height: 6vh;
    display: flex;
    justify-content: start;
}



.list {
    width: 15%;
    height: auto;
    color: white;
    font-family: 'Montserrat', 'sans-serif';
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    cursor: pointer;
}

.list div{
    background-color: inherit;
}

/*NAVBAR RESPONSIVENESS*/
@media screen and (min-width: 768px){
    .list:hover, .list:hover div{
        background-color: rgb(41, 40, 40);
    }
}

.burger{
    display: none;
    cursor: pointer;
}

.burger div{
    width: 35px;
    height: 4px;
    background-color: var(--primary-color);
    margin: 5px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    transition: all 0.3s ease;
}

@media screen and (max-width:768px){
    body{
        overflow-x: hidden;
    }
    .list {
        background-color: rgb(32, 32, 32);
    }
    .nav{
        position: absolute;
        right: 0px;
        height: 100vh;
        top: 28vh;
        background-color: rgb(32, 32, 32);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 15%;
        transform: translate(100%);
        transition: transform 0.5s ease-in;
    }
    .list div{
        background-color: rgb(32, 32, 32);
        margin-top: 5vh;
    }

    span{
        display: none;
    }
    .nav a{
        opacity: 0;
    }
    .burger{
        display: block;
        margin-left: auto;
    }
}

.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-7px, 6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-7px, -6px);
}

/* NAVBAR LOGO IMAGE AND TEXT*/
.logo{
    margin-left: auto;
    width: 18%;
    height: auto;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: black;
}

.icon{
    width: 25%;
    height: auto;
    overflow: hidden;
}

@media (max-width: 1280px){
    img.icon {
        display: none;
    }
}

span{
    font-family: 'Press Start 2P';
    font-size: 1.5vw;
    background-color: black;
    color: var(--primary-color);
    height: fit-content;
    padding-top: 1%;
}

/*MAIN FEED SECTION*/
main {
    border: 1px solid red;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.feed{
    border: 1px solid black;
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: row;
}

.left-pane{
    border: 1px solid blue;
    width: 65%;
    height: 98%;
    margin: 0.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 768px) {
    .left-pane{
        width: 100%;
    }
}
/*FEED SUMMARY STORIES*/
.story {
    width: 100%;
    height: 20vh;
    margin: 1%;
    display: flex;
    transition: 0.5s ease;
    flex-direction: row;
    justify-content: space-around;
    overflow: hidden;
    background-color: rgb(226, 226, 226);
    padding-left: 0.4vw;
    border-radius: 10px;
}

.story:hover {
    width: 100%;
    height: 30vh;
}

.post-img{
    flex-grow: 1;
    width: 8vw;
    background-color: inherit;   
    margin-top: 2vh; 
}

i{
    background-color: inherit;
}


.info {
    flex-grow: 2;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    background-color: inherit;
}

.summary {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 1%;
    border: 0px solid;
    width: 100%;
    overflow: hidden;
    border-radius: 5px;
    background-color: inherit;
}

.title {
    margin: 2%;
    background-color: inherit;
}

.sum {
    margin: 2%;
    background-color: inherit;
}

.mid-line {
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: inherit;
}

.mid-line div{
    background-color:black;
    width: 0.1vw;
    height: 17vh;
    justify-content: center;
    align-items: center;
    transition: 0.26s ease-in-out;
}

.story:hover .mid-line div{
    height: 25vh;
}

/*READ MORE BUTTON*/
button{
    background: none;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
}

/*PROFILE SECTION RIGHT PANE*/
.right-pane {
    border: 1px solid yellowgreen;
    width: 32%;
    height: 98%;
    margin: 0.5%;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}



@media (max-width: 768px) {
    .right-pane {
        display: none;
    }
}

.profile-sum {
    width: 100%;
    height: 30vh;
    border:1px solid red;
    margin: 3%;
}




